<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dffan.volunter.dao.AdminMapper">
   <!-- 引用其他工作空间的cache 即整合第三方框架 ecache  -->
   <cache-ref namespace="com.hyit.dffan.dao.ProjectMapper"/>
<!-- 管理员登录查询 -->
<select id="login" resultType="com.dffan.volunter.domain.Admin">
  select * from volun_admin where admin_name = #{name} and  admin_password = #{password}
</select>
<!-- 管理员回复留言 -->
<insert id="replyYhly">
  insert into volun_reply values (null,#{ip},#{replyContent},#{replyTime},#{fkId})
</insert>
</mapper>